<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">Login Page</div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" [(ngModel)]="loginform.email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" name="password" [(ngModel)]="loginform.password" class="form-control" id="Password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success pull-right" (click)="login()">Login</button>
          <button type="submit" class="btn btn-primary" (click)="register()">Register</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
