<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>{{pageTitle}}</h4>
  </div>
  <div class="panel-body">
    <div>
      <div class="alert alert-success" *ngIf="filterBy">
        Filter By: {{filterBy}}
      </div>
      <input [(ngModel)]="filterBy" type="text" class="form-control" placeholder="Filter products">
    </div>
    <table *ngIf="products && products.length" class="table table-hover">
      <tr>
        <th>
          <button class="btn btn-success" (click)="toggleImage()">{{showHideImg ? 'Hide Image' : 'Show Image'}}</button>
        </th>
        <th>Product Name</th>
        <th>Product code</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
      <tr *ngFor=" let product of products | products: filterBy">
        <td>
          <img *ngIf="showHideImg" src="http://localhost:3000"+{{product.imageUrl}} style="width: 50px;" />
        </td>
        <td>
          <a href="#" [routerLink]="['/products', product.productCode]">
            {{product.productName}}
          </a>
        </td>
        <td>{{product.productCode}}</td>
        <td>{{product.price}}</td>
        <td >
          <app-rating [rating]="product.starRating"></app-rating>
        </td>
      </tr>
    </table>
  </div>
</div>



